# Build
/target/
*.jar
*.war
*.zip

# IDEs
.idea/
*.iml
.vscode/
*.code-workspace
.project
.classpath
.settings/
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# backups
**/pom.xml.versionsBackup
**/pom.xml.releaseBackup
**/release.properties

# shade)
**/dependency-reduced-pom.xml
